<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Optional: simple access log to stdout -->
  <logger name="org.apache.catalina.core.ContainerBase.[Tomcat].[localhost].[/]" level="INFO"/>
  <logger name="org.apache.catalina.core.AccessLog" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
